---
title: Some page title
items:
    -
        url: "/some-url-1"
        title: "Some title 1"
    -
        url: "/some-url-2"
        title: "Some title 2"
    -
        url: "/some-url-3"
        title: "Some title 3"
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    {% macro menuItem(params) %}
        <li><a href="{{params.url}}">{{params.title}}</a></li>
    {% endmacro %}

    <ul>
        {# We can also pass "item" directly to menuItem() as parameter #}
        {% for item in items %}
            {{ menuItem({
                url: item.url,
                title: item.title
            }) }}
        {% endfor %}
    </ul>
</body>

</html>
